@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #151515;
}

.container {
    width: 1135px;
    margin: auto;
}

img {
    max-width: 100%;
}

button {
    background-color: #015196;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    border: none;
}

h2,
p {
    color: #fff;
}

/* header start */
.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    margin-bottom: 60px;
}

.heding-text {
    font-family: "Protest Riot", sans-serif;
    color: #FF5E19;
    font-size: 60px;
}

/* header end */

/* main start */
.main-div {
    display: flex;
    gap: 20px;
}


.card-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.main-card {
    border: 1px solid #969292a9;
    background-color: #000;
}

.card-title,
.card-button {
    margin: 15px;
    text-align: center;
}

.card-button {
    padding: 10px 88px;
}

.selected-player {
    width: 260px;
    height: 300px;
    padding: 20px;
    background-color: #000000;
}



/* main end */