@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #151515;
}

.container {
    width: 1135px;
    margin: auto;
}

img {
    max-width: 100%;
}

button {
    background-color: #015196;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    border: none;
}

h2,
p,
span {
    color: #fff;
}

/* header start */
.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    margin-bottom: 60px;
}

.heding-text {
    font-family: "Protest Riot", sans-serif;
    color: #FF5E19;
    font-size: 60px;
}

/* header end */

/* main start */
.main-div {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}


.card-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.main-card {
    border: 1px solid #969292a9;
    background-color: #000;
}

.card-title,
.card-button {
    margin: 15px;
    text-align: center;
}

.card-button {
    padding: 10px 88px;
}

.selected-player {
    text-align: center;
    width: 270px;
    height: 300px;
    padding: 20px;
    margin-bottom: 24px;
    background-color: #0D0D0D;
}

.aside-bar h2 {
    margin-bottom: 10px;
}

.calculate-budget {
    text-align: center;
    width: 270px;
    height: 470px;
    padding: 15px;
    background-color: #0D0D0D;
}

.calculate-budget span {
    color: #AFAFAF;
}

.flex {
    display: flex;
    gap: 10px;
    align-items: center;
}

.flex-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.total span {
    color: #FF5E19;
}

.btn-budget {
    padding: 8px 55px;
    margin: 10px 0;
}


input {
    outline: none;
    width: 120px;
    padding: 10px;
    font-size: 1rem;
    background-color: #000;
    border: 1px solid #ffffff5d;
    color: #fff;
}

/* main end */